<!-- Generated template for the FloorComponent component -->
<div class="floor">
  <div class="floor-title">
    <span>{{floorNum}}F</span>{{floorTitle}}
  </div>
  <div class="floor-anomaly">
    <div class="floor-one">
      <img [src]="floor_0.image" width="100%" />
    </div>
    <div>
      <div class="floor-two">
        <img [src]="floor_1.image" width="100%" />
      </div>
      <div>
        <img [src]="floor_2.image" width="100%" />
      </div>
    </div>
  </div>
  <div class="floor-rule">
    <div *ngFor="let item of floorData" >
      <img [src]="item.image" width="100%"/>
    </div>
  </div>
</div>
